<a href="https://colab.research.google.com/github/SangeethaPaulraj26/PythonCodes/blob/main/python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Array Rotation**

In [ ]:
def rotate_arr(arr,d):
  n = len(arr)

  if d<0 or d>=n:
    return "Invalid rotation value"

  rotated_array=[0]*n

  for i in range(n):
    rotated_array[i]=arr[(i+d)%n]

  return rotated_array

arr=[1,2,3,4,5]

d=3

result=rotate_arr(arr,d)

print(f"Original array", arr)
print(f"Rotated Array", result)

Original array [1, 2, 3, 4, 5]
Rotated Array [4, 5, 1, 2, 3]

**Split and Add**

In [ ]:
def split_add(arr,k):
  if k<0 or k>=len(arr):
    return arr

  first_part=arr[:k]
  second_part=arr[k:]

  result=second_part+first_part

  return result

arr=[7,8,9,6,5]

k = 3

result=split_add(arr,k)

print(f"Original array", arr)
print(f"Modified Array", result)

Original array [7, 8, 9, 6, 5]
Modified Array [6, 5, 7, 8, 9]

**Sort in alphabetical order**

In [1]:
str=input("enter the string:")

words=[word.capitalize() for word in str.split()]

words.sort()

print(f"The Sorted words are:")
for word in words:
  print(word)

enter the string:Aaryan Niveda Ranjit Sangeetha Sumithra Paul Tamil
The Sorted words are:
Aaryan
Niveda
Paul
Ranjit
Sangeetha
Sumithra
Tamil

**Removing Punctuations**

In [9]:
punctuations ='''<>,.?/;:'"[]{}/!@#$%^&*()'''

str=input("Enter the string:")

New_str=""

for char in str:
  if char not in punctuations:
    New_str=New_str+char
print(New_str)

Enter the string:Hi!!!, Aaryan, How are you?
Hi Aaryan How are you

**Sum of elements in List**

In [10]:
numbers=[11,12,13,14,15,16,17,18,19,20]

Sum=0
for i in numbers:
  Sum += i
print(f"Sum of numbers in the list are:{Sum}")

Sum of numbers in the list are:155

**Multiply all elements in List**

In [12]:
numbers=[11,12,13,14,15,16,17,18,19,20]

prod=1
for i in numbers:
  prod *= i
print(f"products of numbers in the list are:{prod}")

products of numbers in the list are:670442572800

**Find Smallest number**

In [16]:
numbers=[10, 6, -40, -9, 80]

min=numbers[0]

for i in numbers:
  if i < min:
    min = i
print(f"Smallest number in the list is :",{min})

Smallest number in the list is : {-40}

**Find Largest number**

In [17]:
numbers=[10, 6, -40, -9, 80]

max=numbers[0]

for i in numbers:
  if i > max:
    max = i
print(f"Largest number in the list is :",{max})

Largest number in the list is : {80}

**Find the second largest number in the list**

In [20]:
numbers=[10, 6, -40, -9, 80]

numbers.sort(reverse=True)

if len(numbers) >=2:
  second_largest=numbers[1]
  print("Secong Largest number in the list is:", second_largest)
else:
  print("Theres is no Second Largest number on the list")

Secong Largest number in the list is: 10