**Hello message**

In [ ]:
print("Hello Aaryan")

Hello Aaryan

**Addition**

In [ ]:
num1 = float(input(" Enter the first number:"))
num2 = float(input(" Enter the secong number:"))
X= num1+ num2
print(f"sum: {num1} +{num2} = {X}")

 Enter the first number:10
 Enter the secong number:20
sum: 10.0 +20.0 = 30.0

**Division**

In [ ]:
num3 = float(input(" Enter the dividend number:"))
num4 = float(input(" Enter the divisor number:"))
if num4==0:
  print(f"Error: Division by zero is not allowed")
else:
  Y = num3/num4
print(f"ans : {num3}/{num4}={Y}")

 Enter the dividend number:30
 Enter the divisor number:3
ans : 30.0/3.0=10.0

**Area of the triangle**

In [ ]:
base = float(input(" Enter the base of the triangle:"))
height = float(input(" Enter the base of the triangle:"))
area = 0.5 * base * height
print(f"Area of the traingle: {area}")

 Enter the base of the triangle:4
 Enter the base of the triangle:6
Area of the traingle: 12.0

**swapping variables**

In [ ]:
a = input("Enter the value of the first variable(a):")
b = input("Enter the value of the first variable(b):")
print(f"Original Values: a ={a}, b  = {b}")
temp=a
a=b
b=temp
print(f"Swapped values: a={a}, b={b}")

Enter the value of the first variable(a):20
Enter the value of the first variable(b):50
Original Values: a =20, b  = 50
Swapped values: a=50, b=20

**Generate Random numbers**

In [ ]:
import random
print(f"Random number: {random.randint(1,100)}")

Random number: 94

**Conversion km to miles**

In [ ]:
km = input("Enter the distance in km:")
conversion=0.621371
miles = float(km)*conversion
print(f"{km} kilometer is {miles}miles")

Enter the distance in km:30
30 kilometer is 18.64113miles

**another conversion**

In [ ]:
celsius = float(input(" Enter the temperature in Celsius"))
f=(celsius *9/5)+32
print(f"temperature in fahrenheit is: {f}")

 Enter the temperature in Celsius30
temperature in fahrenheit is: 86.0

**Display Calender**

In [6]:
import calendar

year = int(input("Enter the year:"))
month = int(input("Enter the month:"))
cal = calendar.month(year, month)
print(cal)

Enter the year:2025
Enter the month:2
   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

**solve quadratic equation**

In [15]:
import math
a = float(input("Enter the coefficient a:"))
b = float(input("Enter the coefficient b:"))
c = float(input("Enter the coefficient c:"))

x= b**2 - 4*a*c
if x>0:
    root1 = -b + math.sqrt(x)/(2*a)
    root2 = -b - math.sqrt(x)/(2*a)
    print(f"root1={root1}, root2={root2}")
elif x == 0:
    root = -b/(2*a)
    print(f"root={root}")
else:
    real = -b/(2*a)
    imaginary = math.sqrt(abs(x)/(2*a))
    print(f"root1={real} + {imaginary}i")
    print(f"root2={real} + {imaginary}i")

Enter the coefficient a:2
Enter the coefficient b:4
Enter the coefficient c:6
root1=-1.0 + 2.8284271247461903i
root2=-1.0 + 2.8284271247461903i

**swapping without temp**

In [18]:
a=10
b=5
a,b = b,a
print(f"After swapping")
print(f"a ={a}, b ={b}")

After swapping
a =5, b =10